h1 {
    border : 5px solid rgb(33,10,165);
    border-style : solid;

 }

table{
    border : 2px solid black;
    border-style : solid;
    border-collapse: collapsex;

}

td{
    border : 2px solid black;
    border-style : solid;
}
th{
    border : 2px solid black;
    border-style : solid;
}
img{
    border : 9px solid white;
}
div{
    padding-top : 60px;
    padding-bottom : 30px;
    padding-right : 50px;
    padding-left : 80px;
}
p{
    margin-right: 1000px;
}

