body {
    background-image:url(2.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
}
#myheader {
    color:black;
    text-align:center;
    font-weight: bolder;


}